<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="page-title">
        <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">Vérification</h2>
        <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".8s">En moins d'une minute</h3>
    </div>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <div class="background center_img">
        <img src="assets/images/bg.png" class="crop_img">
    </div>
    <div class="content-inner">
        <div class="form">
            <h2>Entrer votre code de vérification à 6 chiffres.</h2>
            <ion-list class="animate__animated animate__fadeInUp" lines="none">
                <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
                    <div class="item_inner">
                        <ion-label>Code</ion-label>
                        <ion-input mode="md" type="name" placeholder="Entrer le code"></ion-input>
                    </div>
                </ion-item>
                <ion-button size="large" class="btn animate__animated animate__slideInUp wow" data-wow-duration=".4s" expand="round" (click)="tabs()">Commencer !</ion-button>
            </ion-list>
        </div>
    </div>
</ion-content>