<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title-inner d-flex">
                <h3 class="ion-text-center">Samanthateam123 </h3>

                <span class="end">
<!--                    <ion-icon class="zmdi zmdi-close ion-text-center"></ion-icon>-->
                    <ion-icon class="zmdi zmdi-edit ion-text-center"></ion-icon>
                </span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<div class="background center_img" fullscreen>
    <img src="assets/images/ground.png" class="crop_img">
</div>

<ion-content fullscreen>
    <div class="container">
        <div class="team_players d-flex">
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player6.png" class="crop_img">
                </div>
                <h3 style="background: #21b5f6">J Caven</h3>
                <h4>9.0</h4>
            </div>
        </div>

        <div class="team_players d-flex">
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
                <p>C</p>
                <div class="img_box center_img">
                    <img src="assets/images/players/player1.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">P Williamson</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
                <p>VC</p>
                <div class="img_box center_img">
                    <img src="assets/images/players/player2.png" class="crop_img">
                </div>
                <h3 style="background: #21b5f6">B Cordero</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player4.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">R Jackson</h3>
                <h4>9.0</h4>
            </div>
        </div>

        <div class="team_players d-flex">
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player5.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">K Simmons</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player7.png" class="crop_img">
                </div>
                <h3 style="background: #21b5f6">J Donald</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player8.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">R Simmons</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player9.png" class="crop_img">
                </div>
                <h3 style="background: #21b5f6">L Opero</h3>
                <h4>9.0</h4>
            </div>
        </div>

        <div class="team_players d-flex">
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player10.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">W Ubon</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player12.png" class="crop_img">
                </div>
                <h3 style="background: #21b5f6">P Johns</h3>
                <h4>9.0</h4>
            </div>
            <div class="player ion-text-center animate__animated animate__zoomIn wow" data-wow-duration=".2s">
<!--                <p>C</p>-->
                <div class="img_box center_img">
                    <img src="assets/images/players/player11.png" class="crop_img">
                </div>
                <h3 style="background: #6A37FF">D Danie</h3>
                <h4>9.0</h4>
            </div>
        </div>
    </div>
    <div>
        <div style="display:flex;flex-direction:column;color:white;justify-content:center;align-items:center;margin-top: 12%;">
            <h3 style="color:rgb(214, 214, 231);">Match disputés :</h3>
            <h3>54 <a> W </a> / 46 <a style="color:red;"> L </a> / 23 <a style="color:yellow;"> N </a></h3>

            <div class="verticalLineBottom" style="width:80%;border-top:solid 1px white;"></div>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="banner">
        <div class="team-info">
            <!--
            <div class="league">
                <h6>Premier {{'league' | translate}}</h6>
            </div>-->
            <!--<ion-row>
                <ion-col class="team_1 animate__animated animate__fadeInLeft wow" data-wow-duration=".2s" size="6">
                    <div class="team-bg" style="background: linear-gradient(270deg, rgba(13,14,15,0) 10%, rgba(29,97,129,1) 100%);"></div>
                    <div class="team-detail ion-padding-start">
                        <h3 class="ion-text-start">Wolves United</h3>
                        <div class="team-logo d-flex">
                            <img src="assets/images/team_logo/team_8.png">&nbsp;&nbsp;&nbsp;
                            <h4>WlS</h4>
                        </div>
                        <h5 class="ion-pading-start ion-margin-start ion-text-start">11/11 <small>{{'selection' | translate}}</small></h5>
                    </div>
                </ion-col>

                <div class="timeing animate__animated animate__zoomIn wow" data-wow-duration=".3s">
                    <h6>{{'max' | translate}} 7 {{'player_from_a_team' | translate}}</h6>
                    <p>5&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;6</p>
                </div>

                <div class="players_add d-flex animate__animated animate__zoomIn wow" data-wow-duration=".3s">
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                    <ion-icon class="zmdi zmdi-circle active"></ion-icon>
                </div>


                <ion-col class="d-flex team_2 animate__animated animate__fadeInRight wow" data-wow-duration=".2s" size="6">
                    <div class="team-bg" style="background: linear-gradient(90deg, rgba(13,14,15,0) 10%, rgba(44,27,91,1) 100%);"></div>
                    <div class="team-detail end ion-padding-end">
                        <h3 class="ion-text-end">Cobra Guardians</h3>
                        <div class="team-logo d-flex">
                            <h4>CBR</h4>&nbsp;&nbsp;&nbsp;
                            <img src="assets/images/team_logo/team_7.png">
                        </div>
                        <h5 class="ion-pading-end ion-margin-end ion-text-end">85.5 <small>{{'credit' | translate}}</small></h5>
                    </div>
                </ion-col>
            </ion-row>-->

            <div class="team_info_footer">
                <ion-row>
                    <ion-col size="3">
                        <h3>Gk <span>(1)</span></h3>
                    </ion-col>
                    <ion-col size="3">
                        <h3>Dff <span>(2)</span></h3>
                    </ion-col>
                    <ion-col size="3">
                        <h3>Mid <span>(0)</span></h3>
                    </ion-col>
                    <ion-col size="3">
                        <h3>St <span>(0)</span></h3>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</ion-footer>