<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="page-title">
        <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">MODE & RÈGLE DE JEUX</h2>
        <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".8s">{{'how_we_work' | translate}}</h3>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="content-inner">
        <div class="text_box animate__animated animate__fadeInUp wow">
            <h2>TOURNOI SOLO :</h2>


            <p>Ce mode de jeu permettra à chaque gamer de choisir une équipe de son choix (équipe national / club ) et de s’affronter sur une partie de 2x6min.
            </p>
          <p>En cas de match nul le match devra être rejoué sur une base similaire (même équipe),2x6min.</p>
          <p>La notion du but en or sera utilisé (premier gamer a marquer remporte le match) ou différ ce du but sur match aller/retour en fonction des tournois.
          </p>
          <p>Le tournoi sera constitué de 8/16/32 équipes au maximum. Les tournois de 32 équipe devront être de 2x5min!

          </p>

        </div>

        <div class="text_box animate__animated animate__fadeInUp wow">

          <h2>RÈGLE DE JEU :</h2>
          <p>Nb équipe: 8/16/32</p>
          <p>Elimination : Classique ou Différence de but si match aller retour</p>
          <p>Temps : 2x6 min ou 2x5min pour 32 équipes</p>
          <p>Mode des équipes: En ligne</p>
          <p>Vitesse du jeu: Normal</p>
          <p>Types d’équipe: Club & Equipe National!</p>
        </div>



        <div class="text_box animate__animated animate__fadeInUp wow">
            <h2>L’ARENA SOLO/FUT/CLUB PRO :</h2>





            <p>Mode de jeu simple, un champion reste en place tant qu’il ne perd pas. ON METTRA SON NOMBRE DE VICTOIRE UN PEU COMME L'ÉMISSION TOUT LE MONDE VEUT PRENDRE SA PLACE DE NAGUI SUR FRANCE 2. Le champion n’aura pas le droit de refuser les matchs. En cas d’un refus il recevra 1 carton jaune deuxieme carton il sera détronner par celui qui l’aura demander. Pour participer il doit obligatoirement avoir twitch pour créer un engouement.</p>
            <p>Les champions de l’Arena recevront des goodies et des mails à chaque record battu.</p>
          <p>Le champion devra avoir un rendement suffisant c'est-à-dire, jouer sur BetGame au moins 5x par jour et lui attribuer un calendrier avec ses plages horaires déjà programmées de jeu. Il devra par jour effectuer au moins 3 matchs par jours
          </p>
          <p>En cas de défaite du champion, le champion sortant aura la possibilité de garder sa place en négociant avec le vainqueur un prix pour garder sa place. On devra donner la possibilité au champion d’acheter des points BetGame sur cette interface pour l'inciter à payer. La négociation sera timer ( 4 minutes )
          </p>


        </div>

      <div class="text_box animate__animated animate__fadeInUp wow">
        <h2>TOURNOI SOLO ORGANISÉE PAR UN GAMER :</h2>
        <p>Ce mode de jeu permettra à chaque gamer de créer le tournoi qui lui convient entre ami ou donner la possibilité d’ouvrir son tournoi à d’autre utilisateur BetGame.</p>
        <p>Le créateur du tournoi permettra aux participants de choisir une équipe de leur choix (équipe national / club ) ou de restreindre au club ou équipe national. En cas de match nul le match le créateur du tournoi choisira au préalable si il souhaite que l'élimination se fasse par différence de but ( match aller/retour ) ou classique donc en cas de match nul effectuer les but en or</p>
        <p>Le tournoi sera constitué de 8/16/32 équipes au maximum.</p>
        <p>Nb équipe: 8/16/32</p>
        <p>Temps : à déterminé par l’utilisateur ( 2X4 / 2x5 / 2x6 )</p>
        <p>Mode des équipes: à déterminé par l’utilisateur</p>
        <p>Vitesse du jeu: à déterminé par l’utilisateur</p>
        <p>Types d’équipe: à déterminé par l’utilisateur</p>
        <p>*La notion du but en or (premier gamer a marqué remporte le match)</p>
        <p>TOURNOI FUT : Ce mode de jeu permettra à chaque gamer de prendre son équipe créer sur FUT et de défier des gamers du monde entier En cas de match nul le match devra être rejoué sur une base similaire (même équipe), 2x6min.</p>
        <p>La notion du but en or sera utilisé en cas d’égalité sur le premier match (premier gamer a marquer remporte le match) Le tournoi sera constitué de 8/16/32 équipes au maximum.</p>
        <p>Les tournois de 32 équipe devront être de 2x5min</p>
        <p>Les joueurs en prêt auront le droit d’être utiliser</p>
        <p>TOURNOI FUT ORGANISÉE PAR UN GAMERCe mode de jeu permettra à chaque gamer créer le tournoi qui lui convient entre ami ou donner la possibilité d’ouvrir son tournoi à d’autre utilisateur BetGame.</p>
        <p>En cas de match nul le match devra être rejoué sur une base similaire (même équipe) La notion du but en or sera utilisé ou à la différence de but Le tournoi sera constitué de 8/16/32 équipes au maximum.</p>
        <p>TOURNOI CLUB PRO Ce mode de jeu permettra à chaque équipe club pro de s’affronter En cas de match nul le match le match ira jusqu’à la séance de tir au but et le vainqueur des tirs au but remportera le match Nous devrons établir si nous effectuons un tournoi à élimination direct ou match aller/retour Le tournoi sera constitué de 8/16/32 équipes au maximum. Les tournois de 32 équipe devront être de 2x5min Toutes les équipes ont le droit de s’affronter qu’il y’est 2 joueurs dans une équipe et 4 joueurs dans une autre contrôlant le “tout”. Peu importe, le meilleur remportera le match!</p>
        <p>Règle de jeu :Nb équipe: 8/16/32</p>
        <p>Temps : 2x6 min ou 2x5min pour 32 équipes</p>
        <p>Élimination: Direct ou Différence de but</p>
        <p>Types d’équipe: FUT</p>
        <p>Joueur en prêt: Oui</p>
        <p>TOURNOI CLUB PRO ORGANISÉ PAR UTILISATEURCe mode de jeu permettra à un utilisateur de créer son tournoi club pro avec ses propres règles. Nous devons le laisser indiquer le nombre de joueurs par équipe ( 2/3/4/5/6/7/8/9/10/11 )</p>
        <p>Règle de jeu possible : Nb équipe: 8/16/32</p>
        <p>Temps : 2x6 min ou 2x5min pour 32 équipes</p>
        <p>Élimination: Direct ou Différence de but</p>
        <p>Vitesse du jeu: Normal</p>
        <p>Nombre de gamer par équipe: à la convenance du créateur du tournoi</p>

      </div>

    </div>
</ion-content>
