<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline" (click)="backClicked()"></ion-back-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>
            <div class="title-inner d-flex">
                <h3 class="ion-text-center">0h 9m restante</h3>

                <span class="end">
                    <ion-icon class="zmdi zmdi-notifications-add ion-text-start" (click)="reminder()"></ion-icon>
                    <ion-icon class="zmdi zmdi-balance-wallet ion-text-end" (click)="wallet()"></ion-icon>
                </span>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="banner">
        <div class="team-info">
            <div class="turnament-card" style="display:flex;flex-direction:column;align-items:center;height:40%;">
                <div class="turnament-title " data-wow-duration="0.5s">
                    <!-- DATA <h6 style="font-size:1.2rem;font-weight:400;">{{turnament.title}}</h6>-->
                  <h6 style="font-size:1.2rem;font-weight:400;">EUROPA LEAGUE</h6>

                </div>
                <div class="turnament-date" style="">
                  <!--  <h4 style="font-size:0.9rem;font-weight:400;">{{turnament.start_date |  date}} - {{turnament.end_date |  date}}</h4>
                 -->
                  <h4 style="font-size:0.9rem;font-weight:400;">12/11/22 - 30/11/22</h4>

                </div>
                <div class="turnament-infos" style="width:90%;height:30%;display:flex;flex-direction:row;">
                    <div class="Logo" style="margin-right:auto;width:20%;margin-top:5%;margin-left: 5%;
                    margin-right: auto;">
                        <img src="../../assets/icon/turnamentLogo.png">
                    </div>
                    <div class="turnament-subinfos" style="display:flex;flex-direction:column;justify-content:space-evenly;">
                        <div class="nb-player" style="display:flex;">
                            <h3 style="font-size:0.9rem;font-weight:400;line-height: inherit;
                            vertical-align: bottom;"><ion-icon class="zmdi zmdi-account" style="line-height: 20px;"></ion-icon> Nombre d'équipe : 32</h3>
                        </div>

                        <div class="nb-player" style="display:flex;">
                            <h3 style="font-size:0.9rem;font-weight:400;line-height: inherit;
                            vertical-align: bottom;"><ion-icon class="zmdi zmdi-account-o" style="line-height: 20px;"></ion-icon> Places restantes : 17</h3>
                        </div>
                        <div class="cashprice" style="display:flex;">
                            <h3 style="font-size:0.9rem;font-weight:400;"><img class="betgame-logo" src="../../assets/icon/logo1.png" style="width:15px;"> 1500 tokens</h3>
                        </div>

                    </div>

                </div>
                <div style="width:90%;margin-top:5%;margin-bottom:5%;font-size: 1.2rem;font-weight: 500;">
                    Description :
                </div>
                <div style="width:85%;margin-bottom:5%;">
                    {{turnament.description}}
                </div>
                <div style="width:90%;margin-left:auto;margin-right:auto;margin-bottom:10%;">
                    <ion-button size="small" class="btn animate__animated animate__zoomIn wow" data-wow-duration=".5s"  expand="round" (click)="modalFunction()">{{this.isS}}</ion-button>
                </div>
               <!-- <div style="width:90%;margin-left:auto;margin-right:auto;margin-bottom:10%;">
                    <ion-button size="small" class="btn animate__animated animate__zoomIn wow" data-wow-duration=".5s"  expand="round" (click)="modalFunction()">{{this.winner}}</ion-button>
                </div>-->
            </div>

            <ion-segment mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment" lines="none">
                <!--<ion-segment-button mode="ios" class="animate__animated animate__zoomIn wow" data-wow-duration=".2s" value="0">
                    <ion-label class="ion-text-center">
                        {{'winnings' | translate}}
                    </ion-label>
                </ion-segment-button>-->
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn wow" data-wow-duration=".25s" value="1">
                    <ion-label class="ion-text-center">
                        Inscrits
                    </ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
</ion-header>

<!--<div class="background center_img">
    <img src="assets/images/ground.png" class="crop_img">
</div>-->

<ion-content class="bg_color">
    <ion-slides #slides (ionSlideDidChange)="slideChanged()">

        <ion-slide>
            <ion-list class="leaderboard_list" lines="none">
                <div class="list_header">
                    <h2 class="d-flex">
                        {{'all_teams' | translate}} (6,125)
                    </h2>
                </div>

                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item-inner d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/users/user1.png" class="crop_img">
                        </div>
                        <h3>Samanthateteam123 <span>(T1)</span></h3>
                    </div>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item-inner d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/users/user2.png" class="crop_img">
                        </div>
                        <h3>Daniel007 <span>(T2)</span></h3>
                    </div>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item-inner d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/users/user3.png" class="crop_img">
                        </div>
                        <h3>Emiliwilliamson111 <span>(T1)</span></h3>
                    </div>
                </ion-item>

                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item-inner d-flex">
                        <div class="img_box center_img">
                            <img src="assets/images/users/user4.png" class="crop_img">
                        </div>
                        <h3>Tomby001 <span>(T1)</span></h3>
                    </div>
                </ion-item>



            </ion-list>
        </ion-slide>
    </ion-slides>

</ion-content>
