<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="page-title">
        <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">{{'you_are_on_livel' | translate}} 89</h2>
        <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".8s">8,871 {{'points' | translate}}</h3>
    </div>
</ion-header>


<ion-content class="bg_color" fullscreen>
    <div class="content-inner">
        <div class="poins_container">
            <ion-row class="ion-text-center">
                <ion-col size="4" class="active"> 
                    <div class="medal animate__animated animate__zoomIn wow"  data-wow-duration="0.3s">
                        <img src="assets/images/medal2.png">
                        <img src="assets/images/medal1.png">
                        <h2 class="ion-text-center">88</h2>
                    </div>
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check"></ion-icon>
                    </div>
                    <h3>8800 {{'points' | translate}}</h3>
                </ion-col>

                <ion-col size="4" class="active">
                    <div class="medal animate__animated animate__zoomIn wow"  data-wow-duration="0.4s">
                        <img src="assets/images/medal2.png">
                        <img src="assets/images/medal1.png">
                        <h2 class="ion-text-center">89</h2>
                    </div>
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check"></ion-icon>
                    </div>

                    <h3>8900 {{'points' | translate}}</h3>
                </ion-col>

                <ion-col size="4">
                    <div class="medal animate__animated animate__zoomIn wow"  data-wow-duration="0.5s">
                        <img src="assets/images/medal2.png">
                        <img src="assets/images/medal1.png">
                        <h2 class="ion-text-center">90</h2>
                    </div>
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-check"></ion-icon>
                    </div>

                    <h3>9000 {{'points' | translate}}</h3>
                </ion-col>
            </ion-row>
        </div>

        <div class="offer ion-text-center animate__animated animate__zoomIn wow"  data-wow-duration="0.55s">
            <p>{{'earn' | translate}} 129 {{'more_points_to_reach_level' | translate}} 90</p>
        </div>

        <ion-list lines="none" class="animate__animated animate__zoomIn wow"  data-wow-duration="0.6s">
            <h2>{{'how_it_works' | translate}}?</h2>
            <ion-item>
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-fire"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h3>You'll get 10 points on every paid match you joined.</h3>
                        <p>i.e joinned 2 match = 20 points</p>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-thumb-up"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h3>If you joined and won the contest you'll get 1.5x of points.</h3>
                        <p>i.e Earned 300 points x1.5 = 450 points</p>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="item-inner d-flex">
                    <div class="icon_box">
                        <ion-icon class="zmdi zmdi-thumb-down"></ion-icon>
                    </div>
                    <div class="text_box">
                        <h3>If you joined and won the contest you'll get 1.0x of points</h3>
                        <p>i.e Earned 300 points x1.0 = 300 points</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>