<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="title-inner d-flex animate__animated animate__fadeInUp wow" data-wow-duration=".15s">
        <div class="logo">
          <img src="assets/icon/logo1.png">
        </div>
        <h1 style="margin: auto">
          Betgame Bracket
        </h1>
      </div>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content  #content class="scroll-content bg_color" fullscreen>

<div class="scroll-content">
  <canvas id="canvas" #canvas></canvas>
  <div class="region" >

    <h2 class="region-name">South Region</h2>

    <section class="round ">

      <article class="game">
        <div class="team team-winner team-florida" data-team="florida">
          <span class="team-seed">1</span>
          <span class="team-name">Naza</span>
          <span class="team-score">67</span>
        </div>

        <div class="team team-loser team-ua-ms-mary" data-team="ua-ms-mary">
          <span class="team-seed">16</span>
          <span class="team-name">Gotaga</span>
          <span class="team-score">55</span>
        </div>
      </article>

      <article class="game">
        <div class="team team-loser team-colorado" data-team="colorado">
          <span class="team-seed">8</span>
          <span class="team-name">Squeezie</span>
          <span class="team-score">48</span>
        </div>

        <div class="team team-winner team-pitt" data-team="pitt">
          <span class="team-seed">9</span>
          <span class="team-name">Jul</span>
          <span class="team-score">77</span>
        </div>
      </article>

      <article class="game">
        <div class="team team-winner team-ucla" data-team="ucla">
          <span class="team-seed">4</span>
          <span class="team-name">Amine</span>
          <span class="team-score">76</span>
        </div>

        <div class="team team-loser team-tulsa" data-team="tulsa">
          <span class="team-seed">13</span>
          <span class="team-name">Kameto</span>
          <span class="team-score">59</span>
        </div>
      </article>

      <article class="game">
        <div class="team team-loser team-vcu" data-team="vcu">
          <span class="team-seed">5</span>
          <span class="team-name">Kotei</span>
          <span class="team-score">75</span>
        </div>

        <div class="team team-winner team-stephen-f-austin" data-team="stephen-f-austin">
          <span class="team-seed">12</span>
          <span class="team-name">Keblack</span>
          <span class="team-score">77</span>
        </div>
      </article>

    </section>

    <section class="round ">

      <article class="game">
        <div class="team team-winner team-florida" data-team="florida">
          <span class="team-seed">1</span>
          <span class="team-name">Naza</span>
          <span class="team-score">61</span>
        </div>

        <div class="team team-loser team-pitt" data-team="pitt">
          <span class="team-seed">9</span>
          <span class="team-name">Jul</span>
          <span class="team-score">45</span>
        </div>
      </article>

      <article class="game">
        <div class="team team-winner team-ucla" data-team="ucla">
          <span class="team-seed">4</span>
          <span class="team-name">Amine</span>
          <span class="team-score">77</span>
        </div>

        <div class="team team-loser team-stephen-f-austin" data-team="stephen-f-austin">
          <span class="team-seed">12</span>
          <span class="team-name">Keblack</span>
          <span class="team-score">60</span>
        </div>
      </article>

    </section>

    <section class="round ">

      <article class="game">
        <div class="team team-winner team-florida" data-team="florida">
          <span class="team-seed">1</span>
          <span class="team-name">Naza</span>
          <span class="team-score">79</span>
        </div>

        <div class="team team-loser team-ucla" data-team="ucla">
          <span class="team-seed">4</span>
          <span class="team-name">Amine</span>
          <span class="team-score">68</span>
        </div>
      </article>


    </section>

    <section class="round ">

      <article class="game">
        <div class="team team-winner team-florida" data-team="florida">
          <span class="team-seed">1</span>
          <span class="team-name">Florida</span>
          <span class="team-score">62</span>
        </div>

        <div class="team team-loser team-dayton" data-team="dayton">
          <span class="team-seed">11</span>
          <span class="team-name">Dayton</span>
          <span class="team-score">52</span>
        </div>
      </article>

    </section>

  </div>
</div>


</ion-content>
