 <ion-content>
     <ion-list lines="none">
         <div class="list_header">
             <h2>{{'contary_code' | translate}}</h2>
         </div>
         <ion-radio-group>
             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Afghanistan <span class="end">93</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Albania <span class="end">355</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Algeria <span class="end">213</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">American Samoa <span class="end">1-684</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Andorra <span class="end">376</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Bhutan <span class="end">975</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Bolivia <span class="end">591</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Botswana <span class="end">267</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Cuba <span class="end">53</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Curacao <span class="end">599</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Cyprus <span class="end">357</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Czech Republic <span class="end">420</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Denmark <span class="end">45</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Estonia <span class="end"> 372</span></h3>
                 </div>
             </ion-item>

             <ion-item class="animate__animated animate__fadeInUp wow">
                 <div class="item_inner d-flex">
                     <ion-radio value="1"></ion-radio>
                     <h3 class="d-flex">Gabon <span class="end"> 241</span></h3>
                 </div>
             </ion-item>
         </ion-radio-group>

         <div class="btn_box">
             <ion-row>
                 <ion-col size="6">
                     <ion-button size="large" class="btn" expand="full" (click)="dismiss()">{{'cancel' | translate}}</ion-button>
                 </ion-col>
                 <ion-col size="6">
                     <ion-button size="large" class="btn" expand="full" (click)="dismiss()">{{'ok' | translate}}</ion-button>
                 </ion-col>
             </ion-row>
         </div>
     </ion-list>
 </ion-content>