<div style="height:80%;width:90%;background:rgb(15, 5, 13, 0.4);margin:auto;display:flex;flex-direction:column;
align-items: center;justify-content: flex-start;border-radius:15px;">
  <div style="height:10%;width:80%;background:#391531;margin-left:auto;margin-right:auto;display:flex;
  flex-direction:column;align-items:center;justify-content:center;margin-top:5%;margin-bottom:5%;border-radius:15px;">
    Tournoi d'ouverture
  </div>
  <div style="height:70%;width:80%;background:#391531;overflow-y:scroll;border-radius:15px;">
    <ul lines="none">
      <li class="animate__animated animate__fadeInUp" >
        <div class="item-inner">
          <div class="league animate__animated animate__fadeInDown wow" data-wow-duration="0.5s">
            <h6>Premier league</h6>
          </div>
            <div style="background:url(assets/images/versus.png);background-size: cover;background-position: 50%;display:flex;flex-direction:row;">
              <div class="team_1" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(270deg, rgba(13,14,15,0) 10%, rgba(29,97,129,1) 100%);"></div>
                    <div class="team-detail">
                      <!--<h3 class="ion-text-start">Wolves United</h3>-->
                      <div class="team-logo" style="display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;">
                        <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                        <h4 style="margin-top:1em;">team123</h4>
                      </div>
                    </div>
                  </div>

              <!--<div class="timeing">
                  <h6>VS</h6>
              </div>-->

              <div class="d-flex team_2" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(90deg, rgba(13,14,15,0) 10%, rgba(44,27,91,1) 100%);"></div>
                  <div class="team-detail" style="width:100%;">
                      <!--<h3 class="ion-text-end">Cobra Guardians</h3>-->
                      <!--<div class="team-logo d-flex">
                          <h4>CBR</h4>&nbsp;&nbsp;
                          <img src="assets/images/team_logo/team_7.png">
                      </div>-->
                      <div class="team-logo" style="
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      align-items: center;">
                          <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                          <h4 style="margin-top:1em;">Manzibar</h4>
                      </div>
                  </div>
                </div>
            </div>
          <div class="slide-footer d-flex" style="">
              <h5><strong>5 Tokens</strong> </h5>
              <h5 class="end">jeudi 6 octobre 2021 - 16h00<i ion-icon class="zmdi zmdi-notifications-add ion-text-end"></i>
              </h5>
          </div>
        </div>
      </li>
      <li class="animate__animated animate__fadeInUp">
        <div class="item-inner">
          <div class="league animate__animated animate__fadeInDown wow" data-wow-duration="0.5s">
            <h6>Premier league</h6>
          </div>
            <div style="background:url(assets/images/versus.png);background-size: cover;background-position: 50%;display:flex;flex-direction:row;">
              <div class="team_1" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(270deg, rgba(13,14,15,0) 10%, rgba(29,97,129,1) 100%);"></div>
                    <div class="team-detail">
                      <!--<h3 class="ion-text-start">Wolves United</h3>-->
                      <div class="team-logo" style="display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;">
                        <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                        <h4 style="margin-top:1em;">team123</h4>
                      </div>
                    </div>
                  </div>

              <!--<div class="timeing">
                  <h6>VS</h6>
              </div>-->

              <div class="d-flex team_2" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(90deg, rgba(13,14,15,0) 10%, rgba(44,27,91,1) 100%);"></div>
                  <div class="team-detail" style="width:100%;">
                      <!--<h3 class="ion-text-end">Cobra Guardians</h3>-->
                      <!--<div class="team-logo d-flex">
                          <h4>CBR</h4>&nbsp;&nbsp;
                          <img src="assets/images/team_logo/team_7.png">
                      </div>-->
                      <div class="team-logo" style="
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      align-items: center;">
                          <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                          <h4 style="margin-top:1em;">Manzibar</h4>
                      </div>
                  </div>
                </div>
            </div>
          <div class="slide-footer d-flex" style="">
              <h5><strong>5 Tokens</strong> </h5>
              <h5 class="end">jeudi 6 octobre 2021 - 16h00<i ion-icon class="zmdi zmdi-notifications-add ion-text-end"></i>
              </h5>
          </div>
        </div>
      </li>
      <li class="animate__animated animate__fadeInUp" >
        <div class="item-inner">
          <div class="league animate__animated animate__fadeInDown wow" data-wow-duration="0.5s">
            <h6>Premier league</h6>
          </div>
            <div style="background:url(assets/images/versus.png);background-size: cover;background-position: 50%;display:flex;flex-direction:row;">
              <div class="team_1" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(270deg, rgba(13,14,15,0) 10%, rgba(29,97,129,1) 100%);"></div>
                    <div class="team-detail">
                      <!--<h3 class="ion-text-start">Wolves United</h3>-->
                      <div class="team-logo" style="display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;">
                        <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                        <h4 style="margin-top:1em;">team123</h4>
                      </div>
                    </div>
                  </div>

              <!--<div class="timeing">
                  <h6>VS</h6>
              </div>-->

              <div class="d-flex team_2" size="6" style="width:50%;">
                  <div class="team-bg" style="background: linear-gradient(90deg, rgba(13,14,15,0) 10%, rgba(44,27,91,1) 100%);"></div>
                  <div class="team-detail" style="width:100%;">
                      <!--<h3 class="ion-text-end">Cobra Guardians</h3>-->
                      <!--<div class="team-logo d-flex">
                          <h4>CBR</h4>&nbsp;&nbsp;
                          <img src="assets/images/team_logo/team_7.png">
                      </div>-->
                      <div class="team-logo" style="
                      display: flex;
                      flex-direction: column;
                      justify-content: space-evenly;
                      align-items: center;">
                          <img src="assets/images/users/user1.png" class="crop_img" style="border-radius:50%;height:50px;">
                          <h4 style="margin-top:1em;">Manzibar</h4>
                      </div>
                  </div>
                </div>
            </div>
          <div class="slide-footer d-flex" style="">
              <h5><strong>5 Tokens</strong> </h5>
              <h5 class="end">jeudi 6 octobre 2021 - 16h00<i ion-icon class="zmdi zmdi-notifications-add ion-text-end"></i>
              </h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div style="height:10%;width:80%;background:#391531;display:flex;flex-direction:row;justify-content: space-evenly;
  align-items: center;margin-bottom:5%;border-radius:15px;margin-top:5%;">
    <div (click)="displayTourBackward()"><i class="zmdi zmdi-caret-left-circle zmdi-hc-2x"></i></div>
    <div>{{res}}</div>
    <div (click)="displayTourForward()"><i class="zmdi zmdi-caret-right-circle zmdi-hc-2x"></i></div>
  </div>
  <div style="">
    <div (click)="dismiss()"><i class="zmdi zmdi-close-circle zmdi-hc-4x"></i></div>
  </div>
</div>
