.modal--editor {
    background: var(--bg-color);
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    margin: auto;
    overflow-y: scroll;
    color: white;
    display: column;
    align-items: center;
    justify-content: center;
}

.modal--title {
    background-color: var(--primary);
    margin: 0;
    padding: 40px;
    border-radius: 0 0 20px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.modal--players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal--players > * {
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

.modal--players span::after {
    content: "";
    display: block;
    border-bottom: 10px solid #6610f2;
}

.row {
    padding: 50px 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row input {
    width: 50px;
}

.modal--button {
    background: #6610f2;
    color: var(--white);
    border-radius: 10px;
    width: 33%;
    height: 4em;
    display: block;
    margin: 2rem auto;
}

.ctrl--btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}