<div style="width: 90%;height:30%;margin:auto;">
  <div class="end" (click)="dismiss()" style="display:flex;flex-direction:column;align-items:flex-end;">
    <i ion-icon class="zmdi zmdi-close-circle ion-text-center"></i>
  </div>
  <div style="width:100%;height:100%;display:flex;flex-direction:column;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;
  background:pink;justify-content: space-around;border-radius:15px;">
    <div style="width:90%;background:#761461;margin:auto;">
      <input id="pseudo" name="pseudo" placeholder="Pseudo du joueur" style="border-radius:15px;" (change)="searchClick($event)"/>
    </div>
    <div style="width:90%;margin-left:auto;margin-right:auto;margin-bottom:10%;">
      <button ion-button size="small" class="btn animate__animated animate__zoomIn wow" data-wow-duration=".5s" (click)="dismiss()" expand="round">Rechercher</button>
    </div>
  </div>
</div>