<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="page-title">
        <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.5s">{{'faqs' | translate}}</h2>
        <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration=".8s">{{'get_your_answers' | translate}}</h3>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="content-inner">
        <ion-list lines="none">
            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand1 ? 'active' : '' " (click)="faqExpandToggle1()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_play' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>

                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand2 ? 'active' : '' " (click)="faqExpandToggle2()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_add_money' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand3 ? 'active' : '' " (click)="faqExpandToggle3()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_select_player' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand4 ? 'active' : '' " (click)="faqExpandToggle4()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_change_profile_picture' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand5 ? 'active' : '' " (click)="faqExpandToggle5()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_send_money_to_bank' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>


            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand6 ? 'active' : '' " (click)="faqExpandToggle6()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_shop' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>


            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand7 ? 'active' : '' " (click)="faqExpandToggle7()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_change_language' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand8 ? 'active' : '' " (click)="faqExpandToggle8()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'can_i_login_throught_social_account' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp wow" [ngClass]="faqExpand9 ? 'active' : '' " (click)="faqExpandToggle9()">
                <div class="item_inner">
                    <h3 class="d-flex">{{'how_to_logout_my_account' | translate}}?
                        <ion-icon class="zmdi zmdi-chevron-down end ion-text-end"></ion-icon>
                    </h3>
                    <div class="text_box">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </ion-item>

        </ion-list>
    </div>
</ion-content>