<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="banner">
        <div class="logo ion-text-center">
            <div class="logo">
                <img src="assets/icon/icon.png">
            </div>
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="content-inner">
        <div class="text_box animate__animated animate__fadeInUp wow">
            <h2>{{'who_we_are' | translate}}?</h2>
          <p>  Betgame révolutionne vos parties sur les plus grands jeux en les animant.     </p>
          <p>  Jouez solo ou entre amis sur PC, Playstation ou encore sur Xbox et mobile.    </p>
          <p>  Vous pouvez rencontrer sur Betgame des adversaires et coéquipiers sur vos jeux préférés comme FIFA, Clash Royal, Brawl Star et bien d’autres.</p>
          <p>  Découvrez des tournois endiablés et des matchs singuliers ou en équipe.    </p>
          <p>  Un système de paris sera effectif pour miser sur vous-mêmes ou sur des joueurs. Pour cela, il faut vous munir de tokens de la monnaie le BETCOIN, la crypto-monnaie de la plateforme.</p>
          <p>  Le token BETCOIN est indexé sur la blockchain POLYGON. </p>
          <p>  La plate-forme est munie d’une technologie de récupération de données connectée à celles de vos parties en temps réel.</p>
          <p>  Un système de paris sera effectif pour miser sur vous-mêmes ou sur des joueurs.  </p>
          <p>  Pour cela, il faut vous munir de tokens de la monnaie le BETCOIN, la crypto-monnaie de la plateforme.  </p>
          <p>  La plate-forme est munies d’une technologie de récupération de données connectée à celles de vos parties en temps réel .  </p>






        </div>

    </div>
</ion-content>
