ion-header ion-toolbar {

    ion-title {
        .title-inner {
            position: relative;

            span {
                ion-icon {
                    font-size: 0.95rem;
                    background: #c1c1c147;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    position: relative;
                    top: 11px;
                }
            }
        }
    }
}

.banner {
    border-radius: 20px 20px 0 0;
    background: var(--secondary);
    padding: 25px 20px;
    width: 100%;

    .banner-inner {
        .img_box {
            min-width: 95px;
            height: 95px;
            border-radius: 50%;
            margin-right: 35px;
        }

        .text_box {
            width: 100%;

            h2 {
                margin: 0;
                color: var(--white);
                font-size: .98rem;
                padding-bottom: 5px;
            }

            h3 {
                margin: 0;
                color: var(--text-dark);
                font-size: 0.6rem;
                font-weight: 500;
                text-transform: uppercase;
            }

            ion-row {
                margin: 0 -5px;
                padding-top: 14px;
                align-items: flex-end;

                ion-col {
                    h2 {
                        padding: 0;
                        font-size: .85rem;
                        font-weight: 400;
                    }

                    h3 {
                        padding-bottom: 7px;
                    }

                    h5 {
                        margin-top: 0;
                        margin-bottom: 0;
                        background: #444A50;
                        border-radius: 50px;
                        padding: 11px 5px;
                        color: var(--white);
                        text-transform: uppercase;
                        font-size: 0.7rem;
                        letter-spacing: 3px;
                        text-align: center;
                        width: calc(100% - 15px);
                    }
                }
            }
        }
    }
}

ion-content {
    --background: var(--secondary-dark);
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;
    position: relative;

    .list_header {
        padding: 10px 21px;
        background: var(--bg-color);
        border-bottom: 1px solid var(--secondary-light);
        position: sticky;
        left: 0;
        width: 100%;
        z-index: 99;
        top: 0;

        ion-row {
            margin: 0 -5px;

            ion-col {
                padding: 0 5px;
            }
        }

        h2 {
            margin: 0;
            color: var(--text-dark);
            text-transform: uppercase;
            font-size: 0.6rem;
            letter-spacing: 1px;
        }
    }

    ion-item {
        padding: 9px 21px;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --background: var(--transparent);
        background: var(--secondary-dark);
        border-bottom: 1px solid var(--secondary-light);

        &:last-of-type {
            border-bottom: 0px solid var(--secondary-light)!important;
        }

        .item-inner {
            width: 100%;

            ion-row {
                margin: 0 -5px;

                ion-col {
                    padding: 0 5px;
                }
            }

            h4 {
                margin: 0;
                color: var(--text-dark);
                font-size: 0.7rem;
            }

            h3 {
                margin: 0;
                color: var(--white);
                font-size: 0.65rem;
                font-weight: 400;
            }

            .img_box {
                min-width: 38px;
                height: 38px;
                border-radius: 50%;
                margin-right: 16px;
            }
        }
    }

    .list_footer {
        padding: 10px 21px;
        background: var(--bg-color);
        border-bottom: 1px solid var(--secondary-light);
        position: sticky;
        left: 0;
        width: 100%;
        z-index: 99;
        bottom: 0;

        h2 {
            margin: 0;
            color: var(--white);
            text-transform: uppercase;
            font-size: 0.65rem;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }
}